<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Sidang</title>
    <link rel="stylesheet" href="/public/css/dataSidang.css" />
</head>
<body>
    <div class="container">
        <div class="title">
            <div class="userProfile">
                <h2>x</h2>
            </div>
            <div class="namaHalaman">
                <h2>Data Sidang</h2>
            </div>
        </div>
        
    </div>
</body>
</html>