<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/popUpInputData.css">
</head>
<body>
    <div class="wrapper">
        <form action="/submit_form" method="post">
            <label for="nama">Nama:</label>
            <input type="text" id="nama" name="nama" required>
            <label for="npm">NPM:</label>
            <input type="text" id="npm" name="npm" required>
            <label for="dosenPembimbing">Dosen Pembimbing:</label>
            <input type="text" id="dosenPembimbing" name="dosenPembimbing" required>
            <label for="dosenPenguji">Dosen Penguji:</label>
            <input type="text" id="dosenPenguji" name="dosenPenguji" required>
            <label for="dosenPembimbing">Dosen Pembimbing:</label>
            <input type="text" id="dosenPembimbing" name="dosenPembimbing" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Tambah">
        </form>
    </div>
</body>
</html>