<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/popUpInputData.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form action="/submit_form" method="post">
            <label for="nama">Nama:</label>
            <input type="text" id="nama" name="nama" required>
            <label for="nik">NIK:</label>
            <input type="text" id="nik" name="nik" required>
            <label for="namaMahasiswa">Nama Mahasiswa:</label>
            <input type="text" id="namaMahasiswa" name="namaMahasiswa" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Tambah">
        </form>
    </div>
</body>
</html>