<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/css/Login.css" type="text/css">
  </head>
  <body>
    <div class="halaman">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="text-wrapper">Forgot Password ?</div>
          <div class="overlap">
            <div class="div">Username :</div>
            <div class="rectangle"></div>
          </div>
          <div class="overlap-2">
            <div class="div">Password&nbsp;&nbsp;:</div>
            <div class="rectangle-2"></div>
          </div>
          <div class="div-wrapper"><div class="text-wrapper-2">LOGIN</div></div>
          <div class="text-wrapper-3">LOGIN</div>
        </div>
      </div>
    </div>
  </body>
</html>
