<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/css/Login.css" type="text/css">
  </head>
  <body>
    <div class="halaman">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="text-wrapper">Forgot Password ?</div>

        <!-- Username Input -->
          <div class="overlap">
            <label for="username" class="div">Username :</label>
            <input type="text" id="username" name="username" class="rectangle">
          </div>

        <!-- Password Input -->
          <div class="overlap-2">
            <label for="password" class="div">Password&nbsp;&nbsp;:</label>
            <input type="password" id="password" name="password" class="rectangle-2">
          </div>

        <!-- Login Button -->
        <div class="div-wrapper">
          <button type="submit" class="text-wrapper-2">LOGIN</button>
        </div>

        <div class="text-wrapper-3">LOGIN</div>
        </div>
      </div>
    </div>
  </body>
</html>