body{
    background-color: grey;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: -10px;
    margin-left: -10px;
    padding:10px;
    background-color: #000AFF;
    color: white;
}
.userProfile{
background-color: aqua;
margin-right: 5%;
}
.namaHalaman{
    margin-right: 45%;

    background-color: aqua;
}